body,html{
	height: 100%;
}
#main-container{
	display: inline-flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFE;
}
.content-container{
	display: inline-flex;
	flex-direction: column;
	width: 50%;
	height: 90%;
	justify-content: space-around;
	align-items: center;
	border-radius:2%;
	border:1px solid #859339;
}

#boxes-container{
	--gridSize: 16;
	--gridGap: 1px;

	width: 700px;
    height: 700px;

	display: grid;
	grid-gap: var(--gridGap);
	grid-template-columns: repeat(var(--gridSize),1fr);
}
.boxDiv{
	display: inline-block;
	margin:0;
	padding: 0;
	border:1px solid #191919;
}

